### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### MAC OS ###
.DS_Store

### VS Code ###
.vscode/
.vscode-test

### Python ###
*.egg-info/
*.pyc
/venv/
pytest_coverage.html/
.coverage
pytest_unit.xml

### Nodejs ###
.npm
node_modules
build
npm-debug.log
package-lock.json
.env

### AWS SAM ###
**/.aws-sam/